<div class="container container-elements">
  <div class="items-header">
    <h1>League of Legends Items</h1>
    <h2>All in-game items for League of Legends, including mythics, legendary, starting items, and consumables.
      Up-to-date stats, passives, actives, and gold costs</h2>
  </div>
  <div class="items-body" style="margin-top: 2%;">
    <app-item-cards></app-item-cards>
    <!-- <div class="row">
      <ng-container *ngFor="let item of items | keyvalue">
        <app-item-data [itemId]="item.key" [item]="item.value" class="col-lg-4 col-md-6 col-sm-12"
          style="margin-bottom: 2%;"></app-item-data>
      </ng-container>
    </div> -->
  </div>
</div>